.container {
  display: flex;
  flex-wrap: wrap;
  width: 90%;
}

.monitoring-bar {
  width: 80%;
  height: 3em;
  padding: 0.3em 0;
}

.monitoring-bar div {
  width: 100%;
  height: 100%;
  background: #C483AD;
  margin: 0 0 0 10%;
}

label.bar {
  width: 20%;
}
