<html>
  <head>
    <title>Here I am</title>
    <script src="/static/main.js" ></script>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
  </head>
  <body>
    <h3>Monitoring</h3>

    <div class="container">
      <label class="bar" >Color</label>
      <div class="monitoring-bar" data-param="color" >
        <div></div>
      </div>

      <label class="bar" >Ph</label>
      <div class="monitoring-bar" data-param="ph" >
        <div></div>
      </div>

      <label class="bar" >Bitterness</label>
      <div class="monitoring-bar" data-param="bitterness" >
        <div></div>
      </div>

      <label class="bar" >Turbididy</label>
      <div class="monitoring-bar" data-param="turbidity" >
        <div></div>
      </div>

      <label class="bar" >Alcohol %</label>
      <div class="monitoring-bar" data-param="alcohol" >
        <div></div>
      </div>

      <label class="bar" >Attenuation</label>
      <div class="monitoring-bar" data-param="attenuation" >
        <div></div>
      </div>

      <label class="bar" >Gravity</label>
      <div class="monitoring-bar" data-param="gravity" >
        <div></div>
      </div>
    </div>
  </body>
</html>
