<html>
  <head>
    <title>Here I am</title>
    <script src="/static/main.js" ></script>
    <link rel="shortcut icon" href="data:image/x-icon;," type="image/x-icon" />
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
  </head>
  <body>
    <h3>Monitoring</h3>

    <div class="container">
      <label class="bar" >Alcohol %</label>
      <div class="monitoring-bar" >
        <div></div>
      </div>

      <label class="bar" >Gravity</label>
      <div class="monitoring-bar" >
        <div></div>
      </div>

    </div>
  </body>
</html>
